a.we {
	font-family: "풕턼환쥌";
	font-size: 14px;
	color: #FFFFFF;
	filter: DropShadow(Color=#eeeeee, OffX=1, OffY=1, Positive=2);
	text-decoration: none;
	line-height: 35px;
}
a.we:hover {
	font-family: "풕턼환쥌";
	font-size: 14px;
	color: #990000;
	text-decoration: underline;
	line-height: 35px;
	}
	a.zydh {
    font-family: "풕턼환쥌";
    font-size: 14px;
    color: #000;
    filter: DropShadow(Color=#eeeeee, OffX=1, OffY=1, Positive=2);
    text-decoration: none;
}
a.zydh:hover {
    font-family: "풕턼환쥌";
    font-size: 14px;
    color: #000;
    text-decoration: underline;
	}
	
.menu {
position:relative;z-index:19999;
	font-family: arial, sans-serif;
	width:1000px;
	float: left;
	clear: both;
	background: url(../images/menu.png) no-repeat;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 35px;
}
.menu ul {
padding:0;
margin:0;
list-style-type: none;
}
.menu ul li {
float:left;
position:relative;
}
.menu ul li a, .menu ul li a:visited {
	display:block;
	text-align:center;
	text-decoration:none;
	width:165px;
	height:35px;
	color:#fff;
	border:1px solid #fff;
	border-width:1px 1px 0 0;
	
	line-height:40px;
	font-size:12px;
	font-family: "쥌펀";
	text-transform: uppercase;
}
.menu ul li ul {
display: none;
}
.menu ul li:hover a {
color:#fff;
font-size:13px;
}
.menu ul li:hover ul {
display:block;
position:absolute;
top:40px;
left:0;
width:105px;
}
.menu ul li:hover ul li a {
display:block;
background: url(../images/menu1.png) no-repeat;
color:#fff;
}
.menu ul li:hover ul li a:hover {
background: url(../images/menu2.png) no-repeat;
color:#fff;
}
.top{
	width:1000px;
	background-image: url(../images/top.png);
	height: 87px;
}
.zy2top{
	width:1000px;
	height: 310px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 30px;
	margin-top: 20px;
}
.zy5top{
	width:1000px;
	height: 30px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 30px;
	margin-top: 20px;
}
.zy3top{
	width:1000px;
	height: 1150px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 30px;
	margin-top: 20px;
}

.zy3buttom{
	width:1000px;
	
	height: 350px;
}
.zy2top2{
	width:1000px;
	height: 60px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 30px;
	margin-top: 20px;
}
.dh{
	width:1000px;
	height: 35px;
	background-color: #333333;
}
.sydt{
	width:1000px;
	height: 298px;
	
}
.sydh1{
	width:1000px;
	height: 46px;
	
}
.symd1{
	width:1000px;
	height: 250px;
	
}
.syimgbox1{
	width:300px;
	height: 250px;
	float:left;
	margin-right: 16px;
	margin-left: 17px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 50px;
	
}
.syimgbox1 a:hover{
text-decoration:underline;
	
	font-size: 15px;
	line-height: 50px;
	
}
.sydh2{
	width:1000px;
	height: 36px;
	
}
.symd2{
	width:1000px;
	height: 50px;
	
}
.sywzbox1{
	width:200px;
	height: 50px;
	float:left;
	margin-right: 0px;
	margin-left: 0px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 50px;
	
}
.sywzbox1 a:hover{
text-decoration:underline;
	
	font-size: 15px;
	line-height: 50px;
	
}
.symd3{
	width:1000px;
	height: 250px;
	margin-bottom: 20px;
	
}
.syimgbox2{
	width:300px;
	height: 280px;
	float:left;
	margin-right: 16px;
	margin-left: 17px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 30px;
	
}
.syimgbox2 a:hover{
text-decoration:underline;
	
	font-size: 14px;
	line-height: 30px;
	
}
.foot{
	width:1000px;
	height: 194px;
	background-image: url(../images/foot.png);
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 20px;
	
}
.syftbox1{
	width:150px;
	height: 194px;
	float:left;
	margin-right: 20px;
	margin-left: 50px;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 20px;
	color: #000;
	
}
.syftbox1 a:hover{
text-decoration:underline;
	
	font-size: 15px;
	line-height: 20px;
	
}
.zy1page{
	width:1000px;
	height:1600px;
	
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 20px;
	
}
.zy1pageleft{
	width:200px;
	height:500px;
	float:left;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 0px;
	border: medium none #666666;
	
}
.zy1pageleft a:hover{
text-decoration:underline;
	
	font-size: 14px;
	line-height: 35px;
	
}
.zy1pageright{
	width:790px;
	height:800px;
	float:right;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin: 0px;
	border: thin none #000000;
	
}
.zy1imgbox1{
	width:180px;
	height:200px;
	float:left;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 8px;
	
	
}
.zy1imgbox1 a:hover{
text-decoration:underline;
	
	font-size: 12px;
	line-height: 25px;
	
}

.zy1pagerightmd1{
	width:790px;
	height:30px;
	float:right;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	border: thin none #000000;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
}
.zy1pagerightmd2{
	width:790px;
	height:300px;
	float:right;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	border: thin none #000000;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
}

.zy1imgbox2{
	width:370px;
	height:200px;
	float:left;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 8px;
	
	
}
.zy1imgbox2 a:hover{
text-decoration:underline;
	
	font-size: 12px;
	line-height: 25px;
	
}

.zy2imgbox1{
	width:250px;
	height:250px;
	float:left;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	
	
}
.zy2imgbox1 a:hover{
text-decoration:underline;
	
	font-size: 12px;
	line-height: 25px;
	
}

.zy5page{
	width:1000px;
	height:650px;
	
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 20px;
	
}

.zy2page{
	width:1000px;
	height:600px;
	
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 20px;
	
}
.zy2pageleft{
	width:200px;
	height:500px;
	float:left;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 0px;
	border: medium none #666666;
	
}
.zy2pageleft a:hover{
text-decoration:underline;
	
	font-size: 14px;
	line-height: 35px;
	
}
.zy2pageright{
	width:790px;
	height:580px;
	float:right;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin: 0px;
	border: thin none #000000;
	
}

.zy3pageleft{
	width:280px;
	height:1000px;
	float:right;
	font-family: "풕턼환쥌";
	font-size: 14px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 0px;
	border: medium none #666666;
	
}
.zy3pageleft a:hover{
text-decoration:underline;
	
	font-size: 14px;
	line-height: 35px;
	
}
.zy3pageright{
	width:700px;
	height:1000px;
	float:left;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin: 0px;
	border: thin none #000000;
	
}
#hongse {
	font-family: "풕턼환쥌";
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #FF0000;
	height: 35px;
	width: 270px;
	line-height: 35px;
}
.imgzy3t {
	height: 60px;
	width: 109px;
	margin-top: 10px;
	margin-right: 2px;
}
#kefu {
	font-family: "풕턼환쥌";
	font-size: 18px;
	text-transform: none;
	color: #000000;
	height: 30px;
	width: 120px;
	line-height: 30px;
	border: medium solid #000000;
}


.zy4imgbox{
	width:310px;
	height:300px;
	float:left;
	font-family: "풕턼환쥌";
	font-size: 12px;
	line-height: 25px;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	
	
}
.zy4imgbox a:hover{
text-decoration:underline;
	
	font-size: 12px;
	line-height: 25px;
	
}
#chenshi {
	font-family: "풻";
	font-size: 14px;
	text-transform: none;
	color: #000000;
	height: 20px;
	width: 200px;
	line-height: 20px;
	border: medium none #000000;
	float: left;
	margin-left: 180px;
	margin-top: 35px;
}

#dlzh {
	font-family: "풻";
	font-size: 14px;
	text-transform: none;
	color: #000000;
	height: 20px;
	width: 200px;
	line-height: 20px;
	border: medium none #000000;
	float: left;
	margin-left: 180px;
	margin-top: 35px;
}

#dlzh a:hover{
text-decoration:underline;
	
	font-size: 14px;
	line-height: 20px;
	
}
input{width:200px;
      height:30px;
      font-size:70%
	  border:1px;
	  }
